.chat_window {
    padding: 14px;
    margin-bottom: 30px;
    width: 80%;
    overflow-y: scroll;
}

.chat_cell {
    display: flex;
    font-size: 22px;
    margin-bottom: 12px;
}

.nickname_cell {
    color: rgb(107, 22, 107);
    margin-right: 7px;
}

.message_cell {
    color: rgb(55, 175, 55);
}

.chat_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    & input {
        margin-bottom: 16px;
        width: 100%;
    }

    & button {
        width: 120px;
    }
}

.chat_main {
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}

.participants {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: honeydew;
    font-size: 20px;
}

.wrong {
    background: red;
}
