body {
    background: rgb(20, 11, 31);
    padding: 20px;
}

html {
    --antd-wave-shadow-color: rgba(35, 207, 20, 0.904);
}

.ant-form-item-label label {
    color: rgba(35, 207, 20, 0.904);
}

.ant-switch-checked,
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgba(35, 207, 20, 0.904);
}

.ant-form-item-control-input-content span {
    color: rgba(35, 207, 20, 0.904);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: rgba(35, 207, 20, 0.904);
}
